@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #ffca42;
  border: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 20px;
  border: 6px;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}
body button {
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  border-radius: 5px;
}
body button:active {
  top: 10px;
  background-color: #ffca42;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}
body button::after {
  content: "";
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  padding-top: 47.5px;
  background: #1b3764;
  justify-content: space-around;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
header .s1 {
  align-items: center;
  display: flex;
}
header .s1 ul {
  display: flex;
}
@media (max-width: 1024px) {
  header .s1 ul {
    display: none;
  }
}
header .s1 ul li a {
  display: flex;
  width: 40px;
  height: 35px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  margin: 0 3px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  display: block;
}
header .s1 ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}
header .s1 ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
header .s1 ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
header .s1 ul li a:hover::before {
  top: 0;
}
header .s1 ul li:nth-child(1) a:before {
  background: #3b5999;
}
header .s1 ul li:nth-child(2) a:before {
  background: #ff0000;
}
header .s1 ul li:nth-child(3) a:before {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
header .s1 ul li:nth-child(4) a:before {
  background: #1db954;
}
header .s1 h1 {
  color: #fff;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding-right: 15px;
}
@media (max-width: 768px) {
  header .s1 h1 {
    padding-bottom: 30px;
  }
}
header .s2 {
  display: flex;
  justify-content: space-around;
}
header .s2 ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  header .s2 ul {
    gap: 20px;
  }
}
@media (max-width: 480px) {
  header .s2 ul {
    flex-wrap: wrap;
    justify-content: center;
    width: 475px;
    gap: 15px;
  }
}
header .s2 ul li {
  color: #fff;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 17px;
  font-weight: 500;
  --c: linear-gradient(#ffca42 0 0);
  padding-bottom: 10px;
  background: var(--c), var(--c);
  background-size: 0.3em 0.1em;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: 0.3s linear, background-size 0.3s 0.2s linear;
}
header .s2 ul li:hover {
  background-size: 40% 0.1em;
  background-position: 10% 100%, 90% 100%;
}
header .s2 ul button {
  background-clip: padding-box;
  background-color: #ffca42;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}

main {
  display: flex;
  flex-direction: column;
}
main .s1 {
  background: #1b3764;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1024px) {
  main .s1 {
    flex-direction: column-reverse;
  }
}
main .s1 .main-div {
  padding-left: 20px;
}
@media (max-width: 1024px) {
  main .s1 .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .s1 h1 {
  color: #ffca42;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 65px;
  font-weight: 700;
  padding-bottom: 32px;
}
@media (max-width: 1024px) {
  main .s1 h1 {
    padding-top: 30px;
  }
}
@media (max-width: 480px) {
  main .s1 h1 {
    font-size: 40px;
  }
}
main .s1 p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  width: 700px;
  height: 62px;
  line-height: 34px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  main .s1 p {
    width: 600px;
  }
}
@media (max-width: 480px) {
  main .s1 p {
    width: 440px;
    padding-bottom: 150px;
  }
}
main .s1 button {
  background-color: #ffca42;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}
main .s1 img {
  padding-top: 60px;
}
@media (max-width: 480px) {
  main .s1 img {
    width: 450px;
  }
}
main .s2 {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-around;
  background: #f4f8ff;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  main .s2 {
    flex-direction: column;
    align-items: center;
  }
}
main .s2 img {
  margin-right: 35px;
  --color: #ffca42;
  --border: 10px;
  --offset: 20px;
  --gap: 5px;
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
    var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o), linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
}
@media (max-width: 480px) {
  main .s2 img {
    width: 370px;
    margin-right: 0px;
  }
}
main .s2 img:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}
main .s2 div {
  margin-top: 60px;
}
@media (max-width: 1024px) {
  main .s2 div {
    width: 900px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  main .s2 div {
    width: 700px;
  }
}
main .s2 div h1 {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 480px) {
  main .s2 div h1 {
    font-size: 40px;
  }
}
main .s2 div p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 22px;
}
@media (max-width: 480px) {
  main .s2 div p {
    width: 460px;
  }
}
main .s2 div .yellow-line {
  width: 0px;
  height: 3px;
  background: #1b3764;
  margin-top: 22px;
}
main .s3 {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #1b3764;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
main .s3 h1 {
  color: #ffca42;
  text-align: center;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
@media (max-width: 480px) {
  main .s3 h1 {
    font-size: 40px;
  }
}
main .s3 .yellow-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 0 auto;
  margin-top: 22px;
}
main .s3 img {
  height: 650px;
  width: 650px;
  padding-top: 100px;
  z-index: 1;
  flex-shrink: 0;
  --color: #ffca42;
  --border: 10px;
  --offset: 20px;
  --gap: 5px;
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
    var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border) + var(--offset)) calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o), linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s;
}
@media (max-width: 1024px) {
  main .s3 img {
    margin-left: 35px;
  }
}
@media (max-width: 480px) {
  main .s3 img {
    width: 370px;
    height: 370px;
    margin-left: 0px;
  }
}
main .s3 img:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}
main .s3 .squares {
  display: flex;
  width: 590px;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 480px) {
  main .s3 .squares {
    flex-direction: column;
    align-items: center;
  }
}
main .s3 .main-div {
  padding-top: 75px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 99px;
}
@media (max-width: 480px) {
  main .s3 .main-div {
    width: 480px;
  }
}
main .s3 .main-div p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 25px;
}
main .s3 .main-div .square-div {
  display: flex;
  padding: 41px 33px;
  gap: 10px;
  width: 224px;
  flex-direction: column;
}
main .s3 .main-div .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffca42;
  text-align: center;
  vertical-align: middle;
  line-height: 2.1;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
main .s3 .main-div button {
  background-color: #ffca42;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  width: 220px;
}
main .s4 {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f4f8ff;
}
main .s4 h1 {
  color: #ffca42;
  text-align: center;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #1b3764;
}
@media (max-width: 480px) {
  main .s4 h1 {
    font-size: 40px;
  }
}
main .s4 .yellow-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 0 auto;
  margin-top: 22px;
  background: #1b3764;
}
main .s4 .main-div {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
main .s4 .main-div div {
  width: 630px;
  height: 250px;
  background: #1b3764;
  box-shadow: 0px 35px 25px 0px rgba(4, 113, 255, 0.04);
}
main .s4 .main-div h2 {
  color: #ffca42;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 48px;
  padding-left: 54px;
}
@media (max-width: 480px) {
  main .s4 .main-div h2 {
    font-size: 20px;
    padding-left: 30px;
  }
}
main .s4 .main-div p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 14px;
  padding-left: 54px;
  line-height: 34px;
  padding-right: 30px;
}
@media (max-width: 480px) {
  main .s4 .main-div p {
    font-size: 15px;
    padding-left: 30px;
  }
}
main .s4 .main-div ul {
  list-style-type: disc;
  color: #ffca42;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 22px;
  display: flex;
  padding-left: 72px;
  padding-top: 35px;
  justify-content: space-between;
  margin-right: 30px;
}
@media (max-width: 480px) {
  main .s4 .main-div ul {
    font-size: 15px;
    padding-left: 48px;
    padding-top: 20px;
  }
}
main .s5 {
  background: #1b3764;
  padding-top: 150px;
  padding-bottom: 150px;
}
main .s5 h1 {
  color: #ffca42;
  text-align: center;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
main .s5 .yellow-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 0 auto;
  margin-top: 22px;
}
main .s5 .spotify {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main .s5 iframe {
    width: 45%;
    padding-bottom: 30px;
  }
}
@media (max-width: 480px) {
  main .s5 iframe {
    width: 80%;
    padding-bottom: 30px;
  }
}
main .s6 {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f4f8ff;
  display: flex;
  justify-content: center;
}
main .s6 .main-div {
  display: flex;
  flex-direction: column;
  padding: 80px 75px;
  align-items: center;
  background-color: #ffca42;
}
@media (max-width: 480px) {
  main .s6 .main-div {
    width: 330px;
  }
}
main .s6 .main-div h2 {
  color: #fff;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
@media (max-width: 768px) {
  main .s6 .main-div h2 {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  main .s6 .main-div h2 {
    font-size: 21px;
    width: 430px;
  }
}
main .s6 .main-div p {
  color: #fff;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 20px;
}
@media (max-width: 480px) {
  main .s6 .main-div p {
    font-size: 16px;
    width: 440px;
  }
}
main .s6 .main-div .line {
  width: 50px;
  height: 3px;
  margin-top: 17px;
  background: #fff;
}
main .s6 .main-div form {
  padding-top: 40px;
}
@media (max-width: 480px) {
  main .s6 .main-div form {
    padding-top: 15px;
  }
}
main .s6 .main-div form button {
  background-color: #000080;
  color: #fff;
  cursor: pointer;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 300px;
  height: 65px;
}
@media (max-width: 768px) {
  main .s6 .main-div form button {
    margin-left: 150px;
  }
}
@media (max-width: 480px) {
  main .s6 .main-div form button {
    margin-left: 75px;
  }
}
main .s6 .main-div input {
  width: 530px;
  height: 65px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
  padding-left: 25px;
  font-family: "ALK Rounded Nusx Med", sans-serif;
}
main .s6 .main-div input:focus {
  border: 3px solid #555;
}
@media (max-width: 768px) {
  main .s6 .main-div input {
    width: 600px;
  }
}
@media (max-width: 480px) {
  main .s6 .main-div input {
    width: 450px;
  }
}
main .services-s1 {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #1b3764;
}
main .services-s1 .main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .services-s1 h1 {
  color: #ffca42;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 65px;
  font-weight: 700;
}
@media (max-width: 480px) {
  main .services-s1 h1 {
    font-size: 55px;
  }
}
main .services-s1 .yellow-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin-top: 30px;
}
main .services-s1 p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 30px;
}
@media (max-width: 768px) {
  main .services-s1 p {
    width: 480px;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  main .services-s1 p {
    width: 440px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  main .services-s1 .p1 {
    width: auto;
  }
}
main .services-s2 {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f4f8ff;
}
main .services-s2 .main-div {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main .services-s2 .main-div {
    gap: 30px;
  }
}
main .services-s2 .secondary-div {
  display: inline-block;
  background: #f5f8fc;
  position: relative;
}
main .services-s2 .third-div {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
main .services-s2 .fourth-div {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}
main .services-s2 .fourth-div p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  width: 330px;
}
main .services-s2 svg {
  padding-top: 15px;
  display: inline-block;
  padding-right: 10px;
}
main .services-s2 span {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 20px;
}
main .services-s2 .main-img {
  width: 350px;
  height: 350px;
}
main .services-s2 .icon-img {
  position: absolute;
  top: 300px;
  right: -25px;
  width: 80px;
  height: 80px;
}
main .services-s2 h2 {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
main .services-s2 h3 {
  color: #ffca42;
  text-align: right;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
main .services-s2 button {
  width: 200px;
  height: 60px;
  background-color: #ffca42;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
}
main .news-s1 {
  padding-top: 150px;
  padding-bottom: 150px;
}
main .news-s1 img {
  width: 400px;
  height: 400px;
}
main .news-s1 .main-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
main .news-s1 .secondary-div {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 35px 25px 0px rgba(4, 11, 20, 0.04);
}
main .news-s1 .third-div {
  padding-left: 30px;
  padding-right: 10px;
  height: 200px;
}
main .news-s1 .fourth-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
main .news-s1 h3 {
  width: 350px;
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 25px;
}
main .news-s1 h4 {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 18px;
  font-weight: 700;
  --c: linear-gradient(#1b3764 0 0);
  padding-bottom: 10px;
  background: var(--c), var(--c);
  background-size: 0.3em 0.1em;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: 0.3s linear, background-size 0.3s 0.2s linear;
}
main .news-s1 h4:hover {
  background-size: 40% 0.1em;
  background-position: 10% 100%, 90% 100%;
}
main .news-s1 p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  width: 370px;
  padding-top: 15px;
}
main .news-s1 span {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 17px;
  font-weight: 400;
}
main .contact-s1 {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 200px;
  display: flex;
  flex-direction: row;
  background: #fff;
}
@media (max-width: 1024px) {
  main .contact-s1 {
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
  }
}
main .contact-s1 h1 {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 25px;
}
main .contact-s1 .yellow-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 0 auto;
  margin-top: 22px;
  margin: 0 0;
}
main .contact-s1 p {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  width: 500px;
  padding-top: 30px;
}
@media (max-width: 480px) {
  main .contact-s1 p {
    font-size: 17px;
  }
}
main .contact-s1 .secondary-div {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
main .contact-s1 .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  background: #1b3764;
  margin-right: 30px;
}
main .contact-s1 .third-div {
  display: flex;
  flex-direction: column;
}
main .contact-s1 h2 {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
main .contact-s1 span {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-top: 20px;
}
main .contact-s1 input[type=text] {
  width: 279px;
  height: 60px;
  border: 2px solid #dce1e9;
  background: #fff;
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  padding-left: 20px;
}
@media (max-width: 1024px) {
  main .contact-s1 input[type=text] {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  main .contact-s1 input[type=text] {
    width: 195px;
  }
}
main .contact-s1 input[name=phone] {
  font-family: "ALK Rounded Nusx Med", sans-serif;
  width: 589px;
  height: 60px;
  border: 2px solid #dce1e9;
  background: #fff;
  margin-top: 15px;
}
@media (max-width: 480px) {
  main .contact-s1 input[name=phone] {
    width: 420px;
  }
}
main .contact-s1 textarea {
  width: 589px;
  height: 220px;
  border: 2px solid #dce1e9;
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-weight: 400;
  background: #fff;
  margin-top: 15px;
  resize: none;
  padding-left: 20px;
  padding-top: 20px;
}
@media (max-width: 480px) {
  main .contact-s1 textarea {
    width: 420px;
  }
}
main .contact-s1 input[type=checkbox] {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #dce1e9;
  background: #fff;
  margin-left: -0.5px;
  margin-top: 28px;
  margin-right: 15px;
  float: left;
}
main .contact-s1 button {
  background-clip: padding-box;
  background-color: #ffca42;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  transition: all 250ms;
  margin-top: 40px;
  margin-left: -40px;
  width: 620px;
  height: 60px;
}
@media (max-width: 480px) {
  main .contact-s1 button {
    width: 420px;
  }
}
main .contact-s2 {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f5f8fc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .contact-s2 .main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .contact-s2 h1 {
  color: #ffca42;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 65px;
  font-weight: 700;
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  main .contact-s2 h1 {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  main .contact-s2 h1 {
    font-size: 35px;
  }
}
main .contact-s2 .yellow-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 0 auto;
}
main .contact-s2 p {
  color: #1b3764;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 768px) {
  main .contact-s2 p {
    width: 450px;
  }
}
@media (max-width: 480px) {
  main .contact-s2 p {
    font-size: 18px;
  }
}
main .contact-s2 .secondary-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 550px;
  gap: 30px;
}
@media (max-width: 768px) {
  main .contact-s2 .secondary-div {
    justify-content: center;
  }
}
main .contact-s2 .third-div {
  display: flex;
  align-items: baseline;
}
main .contact-s2 .fourth-div {
  display: flex;
  align-items: baseline;
}
main .contact-s2 .fifth-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}
@media (max-width: 768px) {
  main .contact-s2 .fifth-div {
    margin-left: -70px;
    padding-top: 30px;
    gap: 30px;
  }
}
main .contact-s2 .contact-div {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
@media (max-width: 768px) {
  main .contact-s2 .contact-div {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  main .contact-s2 .contact-div {
    width: 570px;
  }
}
main .contact-s2 i {
  padding-right: 15px;
}
main .contact-s2 span {
  color: #969aa0;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 34.2px */
  letter-spacing: -0.19px;
  display: inline-block;
  width: 500px;
  height: 96px;
  flex-shrink: 0;
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 35px;
}
@media (max-width: 480px) {
  main .contact-s2 span {
    font-size: 15px;
    width: 400px;
    padding-bottom: 0px;
  }
}
main .contact-s2 #column {
  flex-direction: column;
}

footer {
  padding-top: 80px;
  background-color: #1b3764;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  footer {
    padding-left: 10px;
    height: 400px;
  }
}
@media (max-width: 480px) {
  footer {
    flex-direction: column;
    align-items: center;
    height: 1000px;
    padding-top: 0px;
  }
}
footer svg {
  padding-right: 10px;
}
@media (max-width: 1024px) {
  footer svg {
    display: none;
  }
}
@media (max-width: 480px) {
  footer .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer .secondary-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
}
@media (max-width: 480px) {
  footer .secondary-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    width: auto;
  }
}
footer img {
  width: 213px;
}
@media (max-width: 1024px) {
  footer img {
    padding-right: 30px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left 80%;
       object-position: left 80%;
    width: 75px;
    height: 70px;
    transform: translateX(-9px);
  }
}
@media (max-width: 480px) {
  footer img {
    -o-object-position: left 0%;
       object-position: left 0%;
    transform: translateX(0px);
    width: 250px;
    height: auto;
    padding-right: 0px;
  }
}
footer h3 {
  color: #fff;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 1024px) {
  footer h3 {
    padding-right: 25px;
  }
}
@media (max-width: 480px) {
  footer h3 {
    padding-right: 0px;
    margin-top: -70px;
  }
}
footer .social-media {
  padding-top: 30px;
  width: auto;
  gap: 10px;
  display: flex;
  text-align: center;
}
@media (max-width: 1024px) {
  footer .social-media {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 5px;
  }
}
@media (max-width: 480px) {
  footer .social-media {
    flex-direction: row;
  }
}
footer .box {
  background: #1b3764;
  width: 55px;
  height: 55px;
  border: 1px solid #ffca42;
  line-height: 50px;
}
footer ul {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  footer ul {
    padding-top: 5px;
  }
}
footer li {
  color: #b4c7e7;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding-top: 28px;
}
footer li:nth-child(1) {
  padding-top: 20px;
}
@media (max-width: 480px) {
  footer li {
    padding-top: 10px;
  }
}
footer .contact-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 30px;
}
footer .contact-div h3 {
  padding-bottom: 25px;
}
footer .contact-div :nth-child(2)::before {
  color: #fff;
  content: "მისამართი:";
  padding-right: 10px;
}
footer .contact-div :nth-child(3)::before {
  color: #fff;
  content: "ელექტრონული ფოსტა:";
  padding-right: 10px;
}
footer .contact-div :nth-child(4)::before {
  color: #fff;
  content: "ტელეფონი:";
  padding-right: 10px;
}
footer p {
  padding-top: 25px;
  color: #b4c7e7;
  font-family: "ALK Rounded Nusx Med", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 480px) {
  footer p {
    padding-top: 0px;
  }
}/*# sourceMappingURL=global.css.map */