@mixin yellow-line {
  width: 50px;
  height: 3px;
  background: #ffca42;
  margin: 0 629px;
  margin-top: 22px;
}

@mixin h1 {
  color: $text-color;
  text-align: center;
  font-family: $main-font;
  font-size: 45px;
  font-weight: 700;
  padding-right: 80px;
}
