@import "reset";
@import "mixin";
@import "variables";

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: $text-color;
  border: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 20px;
  border: 6px;
}

html {
  scroll-behavior: smooth;
}

body {
  a {
    text-decoration: none;
  }

  button {
    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:active {
      top: 10px;
      background-color: #ffca42;

      -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
      -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
      box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    }

    &::after {
      content: "";
      padding: 4px;
      position: absolute;
      bottom: -15px;
      left: -4px;
      z-index: -1;
      background-color: #2b1800;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

header {
  display: flex;
  align-items: center;
  padding-top: 47.5px;
  background: #1b3764;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .s1 {
    align-items: center;
    display: flex;

    ul {
      display: flex;
      @media (max-width: 1024px) {
        display: none;
      }

      li a {
        display: flex;
        width: 40px;
        height: 35px;
        background-color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        margin: 0 3px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;
        display: block;

        .icon {
          position: relative;
          color: #262626;
          transition: 0.5s;
          z-index: 3;
        }

        &:hover .icon {
          color: #fff;
          transform: rotateY(360deg);
        }

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f00;
          transition: 0.5s;
          z-index: 2;
        }

        &:hover::before {
          top: 0;
        }
      }

      li {
        &:nth-child(1) a:before {
          background: #3b5999;
        }

        &:nth-child(2) a:before {
          background: #ff0000;
        }

        &:nth-child(3) a:before {
          background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
        }

        &:nth-child(4) a:before {
          background: #1db954;
        }
      }
    }

    h1 {
      color: $header-color;
      font-family: $main-font;
      font-size: 28px;
      font-weight: 700;
      padding-right: 15px;

      @media (max-width: 768px) {
        padding-bottom: 30px;
      }
    }
  }
  .s2 {
    display: flex;
    justify-content: space-around;
    ul {
      display: flex;
      align-items: center;
      gap: 40px;

      @media (max-width: 768px) {
        gap: 20px;
      }

      @media (max-width: 480px) {
        flex-wrap: wrap;
        justify-content: center;
        width: 475px;
        gap: 15px;
      }

      li {
        color: $header-color;
        font-family: $main-font;
        font-size: 17px;
        font-weight: 500;
        --c: linear-gradient(#ffca42 0 0); /* update the color here */

        padding-bottom: 10px;
        background: var(--c), var(--c);
        background-size: 0.3em 0.1em;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        transition: 0.3s linear, background-size 0.3s 0.2s linear;

        &:hover {
          background-size: 40% 0.1em;
          background-position: 10% 100%, 90% 100%;
        }
      }

      button {
        background-clip: padding-box;
        background-color: $text-color;
        border: 1px solid transparent;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        transition: all 250ms;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  .s1 {
    background: #1b3764;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    .main-div {
      padding-left: 20px;

      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    h1 {
      color: $text-color;
      font-family: $main-font;
      font-size: 65px;
      font-weight: 700;
      padding-bottom: 32px;
      @media (max-width: 1024px) {
        padding-top: 30px;
      }

      @media (max-width: 480px) {
        font-size: 40px;
      }
    }

    p {
      color: $secondary-text-color;
      font-family: $main-font;
      font-size: 19px;
      font-weight: 400;
      width: 700px;
      height: 62px;
      line-height: 34px;
      padding-bottom: 100px;

      @media (max-width: 1024px) {
        width: 600px;
      }

      @media (max-width: 480px) {
        width: 440px;
        padding-bottom: 150px;
      }
    }

    button {
      background-color: $text-color;
      border: 1px solid transparent;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
      transition: all 250ms;
    }

    img {
      padding-top: 60px;
      @media (max-width: 480px) {
        width: 450px;
      }
    }
  }

  .s2 {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-around;
    background: #f4f8ff;
    align-items: flex-start;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    img {
      @media (max-width: 480px) {
        width: 410px;
        margin-right: 0px;
      }
      margin-right: 35px;
      --color: #ffca42;
      --border: 10px;
      --offset: 20px;
      --gap: 5px;

      --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
        var(--color) 0;
      --_o: calc(3 * var(--offset));
      padding: calc(var(--gap) + var(--border))
        calc(var(--gap) + var(--border) + var(--offset))
        calc(var(--gap) + var(--border) + var(--offset))
        calc(var(--gap) + var(--border));
      background: linear-gradient(var(--_c)) var(--_o) var(--_o),
        linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
      background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
      background-repeat: no-repeat;
      filter: grayscale(0.4);
      transition: 0.5s;

      &:hover {
        background-position: 0px 0px;
        background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
        filter: grayscale(0);
      }
    }

    div {
      margin-top: 60px;
      @media (max-width: 1024px) {
        width: 900px;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      @media (max-width: 768px) {
        width: 700px;
      }
      h1 {
        color: $text-on-blue;
        font-family: $main-font;
        font-size: 45px;
        font-weight: 700;
        @media (max-width: 480px) {
          font-size: 40px;
        }
      }

      p {
        color: $secondary-text-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
        padding-top: 22px;
        @media (max-width: 480px) {
          width: 460px;
        }
      }

      .yellow-line {
        width: 0px;
        height: 3px;
        background: #1b3764;
        margin-top: 22px;
      }
    }
  }

  .s3 {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #1b3764;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h1 {
      @include h1;
      @media (max-width: 480px) {
        font-size: 40px;
      }
    }

    .yellow-line {
      @include yellow-line;
    }

    img {
      @media (max-width: 1024px) {
        margin-left: 35px;
      }
      @media (max-width: 480px) {
        width: 410px;
        height: 410px;
        margin-left: 0px;
      }
      height: 650px;
      width: 650px;
      padding-top: 100px;
      z-index: 1;
      flex-shrink: 0;
      --color: #ffca42;
      --border: 10px;
      --offset: 20px;
      --gap: 5px;

      --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
        var(--color) 0;
      --_o: calc(3 * var(--offset));
      padding: calc(var(--gap) + var(--border))
        calc(var(--gap) + var(--border) + var(--offset))
        calc(var(--gap) + var(--border) + var(--offset))
        calc(var(--gap) + var(--border));
      background: linear-gradient(var(--_c)) var(--_o) var(--_o),
        linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
      background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
      background-repeat: no-repeat;
      filter: grayscale(0.4);
      transition: 0.5s;

      &:hover {
        background-position: 0px 0px;
        background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
        filter: grayscale(0);
      }
    }

    .squares {
      display: flex;
      width: 590px;
      flex-wrap: wrap;
      gap: 10px;

      @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .main-div {
      padding-top: 75px;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 99px;

      @media (max-width: 480px) {
        width: 480px;
      }
      p {
        color: $secondary-text-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
      }

      .square-div {
        display: flex;
        padding: 41px 33px;
        gap: 10px;
        width: 224px;
        flex-direction: column;
      }

      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $text-color;
        text-align: center;
        vertical-align: middle;
        line-height: 2.1;
        font-family: $main-font;
        font-size: 24px;
        font-weight: 700;
      }

      button {
        background-color: $text-color;
        border: 1px solid transparent;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        width: 220px;
      }
    }
  }

  .s4 {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;
    background: #f4f8ff;
    h1 {
      @include h1;
      color: #1b3764;
      @media (max-width: 480px) {
        font-size: 40px;
      }
    }

    .yellow-line {
      @include yellow-line;
      background: #1b3764;
    }

    .main-div {
      padding-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 50px;
      flex-wrap: wrap;

      div {
        width: 630px;
        height: 250px;
        background: #1b3764;
        box-shadow: 0px 35px 25px 0px rgba(4, 113, 255, 0.04);
      }

      h2 {
        color: $text-color;
        font-family: $main-font;
        font-size: 24px;
        font-weight: 700;
        padding-top: 48px;
        padding-left: 54px;
        @media (max-width: 480px) {
          font-size: 20px;
          padding-left: 30px;
        }
      }

      p {
        color: $secondary-text-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        padding-top: 14px;
        padding-left: 54px;
        line-height: 34px;
        padding-right: 30px;
        @media (max-width: 480px) {
          font-size: 15px;
          padding-left: 30px;
        }
      }

      ul {
        list-style-type: disc;
        color: $text-color;
        font-family: $main-font;
        font-size: 22px;
        display: flex;
        padding-left: 72px;
        padding-top: 35px;
        justify-content: space-between;
        margin-right: 30px;
        @media (max-width: 480px) {
          font-size: 15px;
          padding-left: 48px;
          padding-top: 20px;
        }
      }
    }
  }

  .s5 {
    background: #1b3764;
    padding-top: 150px;
    padding-bottom: 150px;
    h1 {
      @include h1;
    }

    .yellow-line {
      @include yellow-line;
    }

    .spotify {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    iframe {
      @media (max-width: 768px) {
        width: 45%;
        padding-bottom: 30px;
      }
    }
  }

  .s6 {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #f4f8ff;
    display: flex;
    justify-content: center;

    .main-div {
      display: flex;
      flex-direction: column;
      padding: 80px 75px;
      align-items: center;
      background-color: #ffca42;

      @media (max-width: 480px) {
        width: 330px;
      }

      h2 {
        color: $header-color;
        font-family: $main-font;
        font-size: 40px;
        font-weight: 700;

        @media (max-width: 768px) {
          font-size: 30px;
        }

        @media (max-width: 480px) {
          font-size: 21px;
          width: 430px;
        }
      }

      p {
        color: $header-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        padding-top: 20px;

        @media (max-width: 480px) {
          font-size: 16px;
          width: 440px;
        }
      }

      .line {
        width: 50px;
        height: 3px;
        margin-top: 17px;
        background: $header-color;
      }

      form {
        padding-top: 40px;

        @media (max-width: 480px) {
          padding-top: 15px;
        }

        button {
          background-color: $main-color;
          color: #fff;
          cursor: pointer;
          font-family: $main-font;
          font-size: 16px;
          font-weight: 600;
          width: 300px;
          height: 65px;

          @media (max-width: 768px) {
            margin-left: 150px;
          }

          @media (max-width: 480px) {
            margin-left: 75px;
          }
        }
      }

      input {
        width: 530px;
        height: 65px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        padding-left: 25px;
        font-family: $main-font;

        &:focus {
          border: 3px solid #555;
        }

        @media (max-width: 768px) {
          width: 600px;
        }

        @media (max-width: 480px) {
          width: 450px;
        }
      }
    }
  }
}

footer {
  padding-top: 80px;
  background-color: #1b3764;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: 1024px) {
    padding-left: 10px;
    height: 400px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    height: 1000px;
    padding-top: 0px;
  }

  svg {
    @media (max-width: 1024px) {
      display: none;
    }
    padding-right: 10px;
  }

  .main-div {
    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .secondary-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;

    @media (max-width: 480px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 100px;
      width: auto;
    }
  }

  img {
    width: 213px;
    @media (max-width: 1024px) {
      padding-right: 30px;
      object-fit: cover;
      object-position: left 80%;
      width: 75px;
      height: 70px;
      transform: translateX(-9px);
    }

    @media (max-width: 480px) {
      object-position: left 0%;
      transform: translateX(0px);
      width: 250px;
      height: auto;
      padding-right: 0px;
    }
  }

  h3 {
    color: #fff;
    font-family: $main-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    @media (max-width: 1024px) {
      padding-right: 25px;
    }

    @media (max-width: 480px) {
      padding-right: 0px;
      margin-top: -70px;
    }
  }

  .social-media {
    padding-top: 30px;
    width: auto;
    gap: 10px;
    display: flex;
    text-align: center;
    @media (max-width: 1024px) {
      align-items: flex-start;
      flex-direction: column;
      padding-top: 5px;
    }

    @media (max-width: 480px) {
      flex-direction: row;
    }
  }

  .box {
    background: #1b3764;
    width: 55px;
    height: 55px;
    border: 1px solid #ffca42;
    line-height: 50px;
  }

  ul {
    padding-top: 35px;
    display: flex;
    flex-direction: column;

    @media (max-width: 480px) {
      padding-top: 5px;
    }
  }

  li {
    color: #b4c7e7;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding-top: 28px;

    &:nth-child(1) {
      padding-top: 20px;
    }

    @media (max-width: 480px) {
      padding-top: 10px;
    }
  }

  .contact-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 30px;

    h3 {
      padding-bottom: 25px;
    }

    & :nth-child(2)::before {
      color: #fff;
      content: "მისამართი:";
      padding-right: 10px;
    }

    & :nth-child(3)::before {
      color: #fff;
      content: "ელექტრონული ფოსტა:";
      padding-right: 10px;
    }

    & :nth-child(4)::before {
      color: #fff;
      content: "ტელეფონი:";
      padding-right: 10px;
    }
  }

  p {
    padding-top: 25px;
    color: #b4c7e7;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 400;

    @media (max-width: 480px) {
      padding-top: 0px;
    }
  }
}
