@import "reset";
@import "mixin";
@import "variables";

body {
  button {
    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &:active {
      top: 10px;
      background-color: #ffca42;

      -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
      -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
      box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    }

    &::after {
      content: "";
      padding: 4px;
      position: absolute;
      bottom: -15px;
      left: -4px;
      z-index: -1;
      background-color: #2b1800;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

header {
  display: flex;
  align-items: center;
  padding-top: 47.5px;
  background: #1b3764;
  .s1 {
    align-items: center;
    display: flex;

    ul {
      display: flex;

      li a {
        display: flex;
        width: 40px;
        height: 35px;
        background-color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        margin: 0 3px;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 3px solid #fff;
        z-index: 1;

        .icon {
          position: relative;
          color: #262626;
          transition: 0.5s;
          z-index: 3;
        }

        &:hover .icon {
          color: #fff;
          transform: rotateY(360deg);
        }

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f00;
          transition: 0.5s;
          z-index: 2;
        }

        &:hover::before {
          top: 0;
        }
      }

      li {
        &:nth-child(1) a:before {
          background: #3b5999;
        }

        &:nth-child(2) a:before {
          background: #ff0000;
        }

        &:nth-child(3) a:before {
          background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
        }

        &:nth-child(4) a:before {
          background: #1db954;
        }
      }
    }

    h1 {
      color: $header-color;
      font-family: $main-font;
      font-size: 28px;
      font-weight: 700;
      padding-left: 100px;
      padding-right: 15px;
    }
  }
  .s2 {
    padding-left: 200px;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 840px;
      li {
        color: $header-color;
        font-family: $main-font;
        font-size: 17px;
        font-weight: 500;
        --c: linear-gradient(#ffca42 0 0); /* update the color here */

        padding-bottom: 10px;
        background: var(--c), var(--c);
        background-size: 0.3em 0.1em;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        transition: 0.3s linear, background-size 0.3s 0.2s linear;

        &:hover {
          background-size: 40% 0.1em;
          background-position: 10% 100%, 90% 100%;
        }
      }

      button {
        background-clip: padding-box;
        background-color: $text-color;
        border: 1px solid transparent;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        transition: all 250ms;
      }
    }
  }
}

main {
  .s1 {
    background: #1b3764;
    padding-left: 100px;
    padding-bottom: 50px;

    .main-div {
      float: left;
      vertical-align: middle;
    }

    h1 {
      color: $text-color;
      font-family: $main-font;
      font-size: 65px;
      font-weight: 700;
      padding-top: 150px;
      padding-bottom: 32px;
      padding-right: 95px;
    }

    p {
      color: $secondary-text-color;
      font-family: $main-font;
      font-size: 19px;
      font-weight: 400;
      width: 575px;
      height: 62px;
      line-height: 34px;
      padding-bottom: 100px;
    }

    button {
      background-color: $text-color;
      border: 1px solid transparent;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      font-family: $main-font;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
      padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
      transition: all 250ms;
    }

    .rusideda {
      padding-top: 60px;
      width: 569px;
      height: 600px;
      flex-shrink: 0;
    }
  }

  .s2 {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    display: flex;
    background: #f4f8ff;

    .border {
      width: 650px;
      height: 650px;

      img {
        --color: #ffca42;
        --border: 10px;
        --offset: 20px;
        --gap: 5px;

        --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
          var(--color) 0;
        --_o: calc(3 * var(--offset));
        padding: calc(var(--gap) + var(--border))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border));
        background: linear-gradient(var(--_c)) var(--_o) var(--_o),
          linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
        background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
        background-repeat: no-repeat;
        filter: grayscale(0.4);
        transition: 0.5s;

        &:hover {
          background-position: 0px 0px;
          background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
          filter: grayscale(0);
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
      padding-left: 100px;
      h1 {
        color: $text-on-blue;
        font-family: $main-font;
        font-size: 45px;
        font-weight: 700;
        padding-top: 60px;
      }

      p {
        color: $secondary-text-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
        width: 530px;
        height: 128px;
        padding-top: 22px;
      }

      .yellow-line {
        width: 0px;
        height: 3px;
        background: #1b3764;
        margin-top: 22px;
      }
    }
  }

  .s3 {
    padding-top: 40px;
    padding-bottom: 800px;
    padding-left: 131px;
    background: #1b3764;

    h1 {
      @include h1;
    }

    .yellow-line {
      @include yellow-line;
    }

    .border {
      float: right;
      position: relative;
      display: flex;

      img {
        z-index: 1;
        height: 450px;
        width: 450;
        margin-right: 120px;
        margin-top: 120px;
        --color: #ffca42;
        --border: 10px;
        --offset: 20px;
        --gap: 5px;

        --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
          var(--color) 0;
        --_o: calc(3 * var(--offset));
        padding: calc(var(--gap) + var(--border))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border) + var(--offset))
          calc(var(--gap) + var(--border));
        background: linear-gradient(var(--_c)) var(--_o) var(--_o),
          linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
        background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
        background-repeat: no-repeat;
        filter: grayscale(0.4);
        transition: 0.5s;

        &:hover {
          background-position: 0px 0px;
          background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
          filter: grayscale(0);
        }
      }
    }

    .main-div {
      padding-top: 30px;
      flex-wrap: wrap;
      display: flex;
      width: 600px;
      float: left;
      margin-left: 80px;

      p {
        color: $secondary-text-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        line-height: 25px;
      }

      .square-div {
        display: flex;
        padding: 41px 33px;
        gap: 10px;
        width: 224px;
        flex-direction: column;
      }

      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $text-color;
        text-align: center;
        vertical-align: middle;
        line-height: 2.1;
        font-family: $main-font;
        font-size: 24px;
        font-weight: 700;
      }

      button {
        background-color: $text-color;
        border: 1px solid transparent;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: $main-font;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
        width: 220px;
      }
    }
  }

  .s4 {
    padding-left: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    background: #f4f8ff;
    h1 {
      @include h1;
      color: #1b3764;
      margin-right: 100px;
    }

    .yellow-line {
      @include yellow-line;
      background: #1b3764;
      margin-left: 630px;
    }

    .main-div {
      padding-top: 50px;
      display: flex;
      flex-direction: row;
      gap: 50px;
      flex-wrap: wrap;

      div {
        width: 630px;
        height: 250px;
        background: #1b3764;
        box-shadow: 0px 35px 25px 0px rgba(4, 113, 255, 0.04);
      }

      h2 {
        color: $text-color;
        font-family: $main-font;
        font-size: 24px;
        font-weight: 700;
        padding-top: 48px;
        padding-left: 54px;
      }

      p {
        width: 560px;
        height: 60px;
        color: $secondary-text-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        padding-top: 14px;
        padding-left: 54px;
        line-height: 34px;
      }

      ul {
        list-style-type: disc;
        color: $text-color;
        font-family: $main-font;
        font-size: 22px;
        display: flex;
        padding-left: 72px;
        padding-top: 35px;
        justify-content: space-between;
        width: 510px;
      }
    }
  }

  .s5 {
    background: #1b3764;
    padding-top: 100px;
    padding-bottom: 100px;
    h1 {
      @include h1;
    }

    .yellow-line {
      @include yellow-line;
    }

    .spotify {
      padding-top: 30px;
      display: flex;
      justify-content: space-around;
    }
  }

  .s6 {
    padding-left: 100px;
    padding-top: 150px;
    padding-bottom: 150px;
    background: #f4f8ff;
    .main-div {
      display: flex;
      flex-direction: column;
      width: 850px;
      padding: 121px 230px;
      align-items: center;
      background-color: #ffca42;

      h2 {
        color: $header-color;
        font-family: $main-font;
        font-size: 40px;
        font-weight: 700;
      }

      p {
        color: $header-color;
        font-family: $main-font;
        font-size: 19px;
        font-weight: 400;
        padding-top: 20px;
      }

      .line {
        width: 50px;
        height: 3px;
        margin-top: 17px;
        background: $header-color;
      }

      form {
        padding-top: 40px;

        button {
          background-color: $main-color;
          color: #fff;
          cursor: pointer;
          font-family: $main-font;
          font-size: 16px;
          font-weight: 600;
          width: 300px;
          height: 65px;
        }
      }

      input {
        width: 530px;
        height: 65px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 3px solid #ccc;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
        padding-left: 25px;
        font-family: $main-font;

        &:focus {
          border: 3px solid #555;
        }
      }
    }
  }
}

footer {
  padding-left: 100px;
  padding-top: 150px;
  background-color: #1b3764;
  height: 400px;
  display: flex;
  flex-direction: row;

  img {
    width: 50%;
  }

  h3 {
    color: #fff;
    font-family: $main-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

  .social-media {
    padding-top: 30px;
    width: 300px;
  }

  .box {
    background: #1b3764;
    padding: 25px 15px;
    border: 1px solid #ffca42;
  }

  ul {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-right: 90px;
  }

  li {
    color: #b4c7e7;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
  }

  .span1 {
    padding-top: 45px;
  }

  span {
    padding-top: 15px;
    color: #fff;
    text-align: center;
    font-family: $main-font;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
  }

  p {
    color: #b4c7e7;
    font-family: $main-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
  }

  a {
    text-decoration: none;
  }
}
